@{
    var placeholderMsg = "Enter username ..";
}

<div class="login_page">
    <form id="login_form">
        <input id="login_form_username_field" type="text" placeholder="@placeholderMsg" />
        <input id="login_form_password_field" type="password" />
        <input id="login_form_submit_btn" type="button" value="Submit" />
    </form>
</div>

